h3{
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

img{
  width: 300px;
  margin-top: 10px;
}

.outer{
  width: 300px;
  border: solid 1px #777777;
  box-shadow: 5px 5px #777777;
  padding: 10px;
  background-color: #8abacf;
}

.inner{
  border: solid 1px #dddddd;
  padding: 10px;
  margin-top: 10px;
  background-color: #d5e4eb;
}

.fact{
  font-style: italic;
  text-align: justify;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  font-weight: bold;
}

.description{
  text-align: justify;
  font-size: 11pt;
}
